/*//////////////////////////////////////////////Fonts/////////////////////////////////////////////////////////////*/
@import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css?family=ABeeZee&display=swap');
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/


body {

background:url(https://images.wallpaperscraft.com/image/sea_rocks_aerial_view_148418_3840x2160.jpg);
background-repeat:no-repeat;
background-attachment:fixed;
background-position:0px 0px;
-moz-background-size: 130%;
-webkit-background-size: 130%;
-o-background-size: 130%

}


/*https://images.unsplash.com/photo-1542091607-f2c384a6af13?ixlib=rb-1.2.1&auto=format&fit=crop&w=1352&q=80*/



/*//////////////////////////////////////////////LogoLine///////////////////////////////////////////////////////////*/
  #logoline{position: fixed; z-index:300; border-width: 50px 18px 0; border-style: solid; border-color: #F5F5F5 transparent; margin:auto;}
  #logoshadow {position: fixed; margin:auto; box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22); z-index: 299;}
  #logolinetxt{ position: relative;z-index: 298; text-align:center; color:white; font-family: 'Righteous', cursive;; background: linear-gradient(-45deg, #FF033E , #FF8418 ); -webkit-background-clip: text; -webkit-text-fill-color: transparent;}
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/


/*//////////////////////////////////////////////RightLine////////////////////////////////////////////////////////*/
  #rightline {  position:fixed; background: linear-gradient(-190deg, #FF033E , #FF8418 ); box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);z-index: 1;}
  /*///////////////////////////////////////////////////////////////////////////////////////////////////////*/

/*////////////////////////////////////////////////BodyLine/////////////////////////////////////////////////////////*/
#bodyline {position:absolute;z-index: -3; background: linear-gradient(-190deg, #FF033E , #FF8418 );box-shadow: 0 -14px 28px rgba(0,0,0,0.25), 0 -10px 10px rgba(0,0,0,0.22); }
#bodyhideline {position:absolute;z-index: -2; background-color:white;}
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/


/*//////////////////////////////////////////////WINDOW1///////////////////////////////////////////////////////////*/
   #window1 {position: absolute;border-radius: 10px; 
   background-color:rgb(250, 250, 250);}
   #window1g {position: absolute;z-index: -1;border-radius: 10px; background: linear-gradient(-190deg, #FF033E , #FF8418 );
    box-shadow: 0 -10px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);}
   #window1txt {position: relative;}/*ÑÑÑÑ*/
  /*//////////////////////////////////////////////////////////////////////////////////////////////////////////////*/


/*//////////////////////////////////////////////Firstline///////////////////////////////////////////////////////////*/
  #firstline {  z-index: 3; border-radius: 10px;  linear-gradient(-190deg, #FF033E , #FF8418 );background: linear-gradient(-190deg, #FF033E , #FF8418 );}
 /*//////////////////////////////////////////////////////////////////////////////////////////////////////////////*/


 /*//////////////////////////////////////////////MainTxt///////////////////////////////////////////////////////////*/
 #maintxt { position:absolute; z-index: 3;  }
 #mtxtmd {  text-align:center; font-family: 'Lobster', cursive; }
 #mtxtup {  text-align:left; font-family: 'Lobster', cursive; }
 #mtxtdwn { text-align:right; font-family: 'Lobster', cursive; }
 /*//////////////////////////////////////////////////////////////////////////////////////////////////////////////*/



 /*//////////////////////////////////////////////Coment///////////////////////////////////////////////////////////*/
  #coment {position: absolute;border-radius: 10px; 
  background-color:rgb(255, 255, 255);}
  #comentg {position: absolute;z-index: -1;border-radius: 10px; background: linear-gradient(-190deg, #FF033E , #FF8418 );
   }
  #comenttxt {position: relative; font-family: 'ABeeZee', sans-serif;}/*ÑÑÑÑ*/
 /*//////////////////////////////////////////////////////////////////////////////////////////////////////////////*/



  /*//////////////////////////////////////////////DownInfo///////////////////////////////////////////////////////////*/
    #downinfo {position: absolute;border-radius: 60px;box-shadow: inset 0px 0px 10px rgba(0,0,0,0.9);
    background-color:rgb(250, 250, 250);}
    #downinfog {position: absolute;z-index: -1;border-radius: 60px; background: linear-gradient(-190deg, #FF033E , #FF8418 );}
    #downinfotxt {position: relative;}
    #downbottom { background-color:rgb(250, 250, 250); position:absolute; }
  /*//////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
 /*box-shadow: 0 -10px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
 */